### Python Loops
 - For loop
 - While Loop

In [1]:
# re-useablity
# reduce lines of code
# well structures

In [2]:
print("Helloworld")
print("Helloworld")
print("Helloworld")
print("Helloworld")
print("Helloworld")
print("Helloworld")
print("Helloworld")
print("Helloworld")
print("Helloworld")
print("Helloworld")

Helloworld
Helloworld
Helloworld
Helloworld
Helloworld
Helloworld
Helloworld
Helloworld
Helloworld
Helloworld

# For Loop

In [3]:
for num in range(10):                             #[0,1,2,3,4,5,6,7,8,9]
    print(num,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [4]:
for num in range(1,10):                             #[1,2,3,4,5,6,7,8,9]
    print(num,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World
5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [5]:
for num in range(5,10):                             #[5,6,7,8,9]
    print(num,"Hello World")

5 Hello World
6 Hello World
7 Hello World
8 Hello World
9 Hello World

In [8]:
for num in range(1,10,2):#(start, end-1,step)                    #[1,3,5,7,9]
    print(num)

1
3
5
7
9

In [10]:
for num in range(0,10,2):                             #[1,2,3,4,5,6,7,8,9]
    print(num)

0
2
4
6
8

In [11]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [12]:
for num in range(10,0,-2):
    print(num)

10
8
6
4
2

In [13]:
for char in "Pakistan":
    print(char)

P
a
k
i
s
t
a
n

In [15]:
for item in ["Keyboard","Mouse","Monitor","Headfone","Pen","Notebook"]:
    print(item.upper())

KEYBOARD
MOUSE
MONITOR
HEADFONE
PEN
NOTEBOOK

In [16]:
for num in 5007:
    print(num)

TypeError: 'int' object is not iterable

In [19]:
items = ["Keyboard","Mouse","Monitor","Headfone","Pen","Notebook"]

In [20]:
for item in items[::-1]:
    print(item.upper())

NOTEBOOK
PEN
HEADFONE
MONITOR
MOUSE
KEYBOARD

In [22]:
for item in items[-2:]:
    print(item.upper())

PEN
NOTEBOOK

In [23]:
items = ["Bag","Ball","Cap","Copy","Knife","Keyboard","Mouse","Monitor","Headfone","Pen","Notebook"]

In [25]:
for item in items:
    if item.endswith("e"):
        print(item)

Knife
Mouse
Headfone

In [26]:
for item in items:
    if (item[-1] == 'e') and (len(item) > 5):
        print(item)

Headfone

In [27]:
items

['Bag',
 'Ball',
 'Cap',
 'Copy',
 'Knife',
 'Keyboard',
 'Mouse',
 'Monitor',
 'Headfone',
 'Pen',
 'Notebook']

In [28]:
for item in items:
    if (item[-1] == 'e') or (len(item) < 5):
        print(item)

Bag
Ball
Cap
Copy
Knife
Mouse
Headfone
Pen

Task: we need to make a list of 50 friends to invite in a party. 
    take friends name as input and add in guest list

In [29]:
f1 = input("Enter your friends name")
f2 = input("Enter your friends name")
f3 = input("Enter your friends name")
f4 = input("Enter your friends name")
f5 = input("Enter your friends name")
guest_list = [f1,f2,f3,f4,f5]

Enter your friends namea
Enter your friends nameb
Enter your friends namec
Enter your friends named
Enter your friends namee

In [31]:
guest= []
for a in range(5):
    friend = input("Enter you friends name")
    guest.append(friend)

Enter you friends nameNasir
Enter you friends nameJaffer
Enter you friends nameAli
Enter you friends nameKamil
Enter you friends namefahad

In [32]:
guest

['Nasir', 'Jaffer', 'Ali', 'Kamil', 'fahad']

# Break , Continue

In [37]:
for a in range(10):
    if a==5:
        break
    print(a)

0
1
2
3
4

In [38]:
for a in range(10):
    print(a)
    if a==5:
        break

0
1
2
3
4
5

In [39]:
for a in range(10):    
    if a==5:        
        continue        
    print(a)

0
1
2
3
4
6
7
8
9

task: take 10 integers as input and find the sum of all integers supplied.

In [45]:
tot = 0
for a in range(10):
    num = int(input("Enter a number of your choice"))
    tot +=num
print(tot)

Enter a number of your choice1
Enter a number of your choice1
Enter a number of your choice1
Enter a number of your choice1
Enter a number of your choice1
Enter a number of your choice1
Enter a number of your choice1
Enter a number of your choice1
Enter a number of your choice1
Enter a number of your choice1
10

In [46]:
nums  = input("Enter numbers of you choice comma separated").split(",")

Enter numbers of you choice comma separated2,44,55,6,88,9,0,1

1

In [47]:
nums

['2', '44', '55', '6', '88', '9', '0', '1']

In [49]:
nums  = input("Enter numbers of you choice comma separated").split(",")
tot=0
for num in nums:
    tot +=int(num)
tot

Enter numbers of you choice comma separated2,3,4,5,6,7,8,9,1

45

# While Loop

In [51]:
a = 0
while a<=10:
    print(a)
    a +=1

0
1
2
3
4
5
6
7
8
9
10

In [52]:
a = 10
while a>=0:
    print(a)
    a -=1

10
9
8
7
6
5
4
3
2
1
0

In [3]:
myguests = []
flag = True
while flag:
    guestName = input("Enter a guest name or press 'q' to exit")
    if guestName=="q":
        flag=False
    else:
        myguests.append(guestName)
myguests

Enter a guest name or press 'q' to exitq

[]

# List Comprehension

In [4]:
evens=[]

for num in range(20):
    if num%2==0:
        evens.append(num)
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
[num for num in range(20) if num%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [9]:
odds=[]

for num in range(20):
    if num%2!=0:
        odds.append(num)
odds

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
[num for num in range(20) if num%2!=0]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
[num for num in range(20) if num%2!=0 if num>10]

[11, 13, 15, 17, 19]

#### if else in list comprehension

In [13]:
[f"{n} is Even" if n%2==0 else f"{n} is Odd" for n in range(20)]

['0 is Even',
 '1 is Odd',
 '2 is Even',
 '3 is Odd',
 '4 is Even',
 '5 is Odd',
 '6 is Even',
 '7 is Odd',
 '8 is Even',
 '9 is Odd',
 '10 is Even',
 '11 is Odd',
 '12 is Even',
 '13 is Odd',
 '14 is Even',
 '15 is Odd',
 '16 is Even',
 '17 is Odd',
 '18 is Even',
 '19 is Odd']

# Nested For Loop

In [4]:
for table_num in range(2):
    for num in range(1,11):
        print(f"{table_num} * {num} = {table_num *num}")

0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0
0 * 10 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

In [21]:
[(x,y) for x in range(3) for y in 'ABC' ]

[(0, 'A'),
 (0, 'B'),
 (0, 'C'),
 (1, 'A'),
 (1, 'B'),
 (1, 'C'),
 (2, 'A'),
 (2, 'B'),
 (2, 'C')]

In [22]:
[(x,y) for x in range(3) for y in 'ABC' if x>0]

[(1, 'A'), (1, 'B'), (1, 'C'), (2, 'A'), (2, 'B'), (2, 'C')]

In [25]:
[a for a in range(1,100) if ((a%7!=0) and (a%5!=0))]

[1,
 2,
 3,
 4,
 6,
 8,
 9,
 11,
 12,
 13,
 16,
 17,
 18,
 19,
 22,
 23,
 24,
 26,
 27,
 29,
 31,
 32,
 33,
 34,
 36,
 37,
 38,
 39,
 41,
 43,
 44,
 46,
 47,
 48,
 51,
 52,
 53,
 54,
 57,
 58,
 59,
 61,
 62,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 74,
 76,
 78,
 79,
 81,
 82,
 83,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 96,
 97,
 99]

make a list of sqaures of first ten natural numbers

In [26]:
[a**2 for a in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
[a**.5 for a in range(1,11)]

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0,
 3.1622776601683795]

# Dictionary

In [31]:
adict = {}
aset=   {}

In [30]:
type(adict)

dict

In [32]:
type(aset)

dict

In [33]:
aset={4}
type(aset)

set

In [46]:
#A dictionary has a key:value pair

student1 = {'name':"Jamal", 'roll':1234, 'email':'abc@gmail.com', 'name':"Kamal"}

In [48]:
student1

{'name': 'Kamal', 'roll': 1234, 'email': 'abc@gmail.com'}

In [49]:
# There is no indexing concept in dict

In [50]:
student1['roll']

1234

In [51]:
student1['email']

'abc@gmail.com'

In [52]:
#add new members/new key in existing dict

In [53]:
student1['father']="Hassan"

In [54]:
student1

{'name': 'Kamal', 'roll': 1234, 'email': 'abc@gmail.com', 'father': 'Hassan'}

In [55]:
student1['father']="Hussain"

In [56]:
student1

{'name': 'Kamal', 'roll': 1234, 'email': 'abc@gmail.com', 'father': 'Hussain'}

In [57]:
# if we iterate directly on dictionary it will return keys only
for a in student1:
    print(a)

name
roll
email
father

In [58]:
# if we iterate on dictionary.keys() it will return keys.
for a in student1.keys():
    print(a)

name
roll
email
father

In [60]:
# we can get values by keys 
for a in student1.keys():
    print(a, student1[a])

name Kamal
roll 1234
email abc@gmail.com
father Hussain

In [61]:
# we can get values against keys by get()
for a in student1.keys():
    print(student1.get(a))

Kamal
1234
abc@gmail.com
Hussain

In [62]:
# we can get values directly
for vals in student1.values():
    print(vals)

Kamal
1234
abc@gmail.com
Hussain

if we store more than a value in a single variable without mentioning any of the collection name it will be stored in form of a tuple

In [64]:
a= 12,13
a

(12, 13)

In [65]:
a = [12,13] # packing 

x,y = a    #unpacking

In [68]:
x

12

In [69]:
y

13

In [70]:
# if we need key and value togehter
for a in student1.items():
    print(a)

('name', 'Kamal')
('roll', 1234)
('email', 'abc@gmail.com')
('father', 'Hussain')

In [71]:
# if we need key and value togehter
for k,v in student1.items():
    print(k,v)

name Kamal
roll 1234
email abc@gmail.com
father Hussain

In [78]:
atuple = ("mangoes","oranges",'bananas')
#packing

In [81]:
ali,ahmed,faizan = atuple
#unpacking

In [82]:
_

'bananas'

In [76]:
ahmed

'oranges'

In [77]:
faizan

'bananas'