# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [5]:
# type your code here
print("hello world", 9874 ,True ,12.5)

hello world 9874 True 12.5

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [17]:
# type your code here
print("hello world", 9874 ,True ,12.5,sep='-')

hello world-9874-True-12.5

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [20]:
# type your code here
print("hello world",end=' ')
print(9874,end=' ')
print(True,end=' ')
print(12.5,end=' ')

hello world 9874 True 12.5

4) Can a python print function take no value to print???

In [21]:
# type your answer here
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [39]:
#type your code here
name = "Mr. Ahemd"
age = 30
profession = "Lawer"
education = "Bachelors in Law"
year_of_bachelors = 2005
working = "The Himalya Associates"
started_working = 2015
height = 5.10
weight = 70.6
income = 200000

In [26]:
year_of_bachelors

2005

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [28]:
#type your code here 
current_year = 2022
year_to_find = current_year-year_of_bachelors
print(year_to_find)

17

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [29]:
#type your code here 
years_of_working=current_year-started_working
print(years_of_working)

7

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [32]:
#type your code here 
dollar = 220
conversion = income/dollar
print(f"{conversion}$")

909.0909090909091$

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [33]:
#type your code here 
type(conversion)

float

In [35]:
dollar = 220
conversion = income//dollar
print(f"{conversion}$")
type(conversion)

909$

int

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [40]:
#type your code here 
type(weight)

float

In [44]:
weight= int(weight)
print(weight)
type(weight)

70

int

11) print the year of birth of Mr. Ahmed.

In [45]:
#type your code here
year_of_birth = current_year-age
year_of_birth

1992

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [46]:
#type your code here 
100%6==0

False